@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300:400');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
    background: #EAEDED;   
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: none;
}
    
canvas{
    background: white;   
    display: none;
}

.title{
    background-color: #d35400;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 34px;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

form
{
    top: 50%;
    left: 50%;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

form span{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
}

#mapData{
    background-color: white;
    border: #bdc3c7;
    font-family: 'Quicksand', sans-serif;
    font-size: 34px;
    padding: 4px;
    width: 270px;
}

.submit{
    background: #d35400;
    border: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 34px;
    padding: 4px;
    cursor: pointer;
    text-align:center;
}

#map{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -1;
}
        
.bot{
    color: black; 
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 20px;
    z-index: 4;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.content{
    color: black; 
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    margin: auto; 
    font-size: 30px;
    background: gray;
}

.controller{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.control{
    background-color: #d35400;
    color: white;
    //position: absolute;
    padding: 40px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.inline{
    display: inline-block;
}

.center{
    margin: auto;
}